root = true

[*]
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[*.{js, jsx, ts, tsx, json, styl, html, ejs}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
indent_size = 4
