rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        match /recommendationLists/{list} {
            allow read;
        }
    }
}
