rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        match /recommendationLists/{list} {
            allow read;
        }
        match /tvShowProviders/{list} {
            allow read;
        }
        match /movieProviders/{list} {
            allow read;
        }
    }

}
